@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;600;700;800;900&family=DM+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --color-bg: #0A0A0F;
  --color-surface: #13131A;
  --color-card: #1C1C26;
  --color-border: #2A2A38;
  --color-accent: #6C63FF;
  --color-accent-hover: #8B85FF;
  --color-accent-soft: rgba(108,99,255,0.12);
  --color-text: #F0F0FF;
  --color-muted: #8888AA;
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;

  --font-sans: 'Sora', sans-serif;
  --font-mono: 'DM Mono', monospace;
}

@layer utilities{
    .text-box-trim-both{
        text-box-trim: trim-both;
    }
}